<h1>Brochure List</h1>

<kendo-grid [data]="brochures"
            [pageSize]="gridState.take" [skip]="gridState.skip" [sort]="gridState.sort"
            [pageable]="true" [sortable]="true"
            (dataStateChange)="onStateChange($event)"
            (edit)="editHandler($event)" (cancel)="cancelHandler($event)"
            (save)="saveHandler($event)" (remove)="removeHandler($event)"
            (add)="addHandler($event)"
            [navigable]="true">
  <ng-template kendoGridToolbarTemplate>
    <button kendoGridAddCommand>Add new</button>
  </ng-template>
  <kendo-grid-column field="name" title="Name"></kendo-grid-column>
  <kendo-grid-column field="typeOfCover" title="Cover Type">
    <ng-template kendoGridEditTemplate
                 let-dataItem="dataItem"
                 let-column="column"
                 let-formGroup="formGroup">
      <kendo-dropdownlist [data]="typesOfCover"
                          [(ngModel)]="selectedValue"
                          [textField]="name"
                          [valueField]="name"
                          [valuePrimitive]="true">
      </kendo-dropdownlist>
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column field="numberOfPages" editor="numeric" title="Pages Number"></kendo-grid-column>
  <kendo-grid-command-column title="Actions">
    <ng-template kendoGridCellTemplate let-isNew="isNew">
      <button kendoGridEditCommand [primary]="true">Edit</button>
      <button kendoGridRemoveCommand>Remove</button>
      <button kendoGridSaveCommand [disabled]="formGroup?.invalid">{{ isNew ? 'Add' : 'Update' }}</button>
      <button kendoGridCancelCommand>{{ isNew ? 'Cancel' : 'Discard changes' }}</button>
    </ng-template>
  </kendo-grid-command-column>
</kendo-grid>
